@charset = "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Kavivanar|Yatra+One');
@media screen and (min-width: 500px) {
	body{
		background-color: #C0C0C0;
	}
}
@keyframes myanimation{
	0%	{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
/*-----------------------------------------------------
	Apply style to all tags.
	*{}
*/
* {
	font-size: 12pt;
}


/*-----------------------------------------------------
	1.Apply style to a tag that has specific attribute.
		tag_name[attr_name = "value"]{}
	2.Apply style to a tag that its attributes has 
	specific value which can be seperated by a space.
		tag_name[attr_name ~= "value"]{}
	3.Apply style to a tag that its attibutes starts 
	with a specific value(follow by a dash in html 
	file).
		tag_name[attr_name = "value"]{}
			+<html>-----------------------------+
			| <tag_name attr_name="value-1">	|
			| <tag_name attr_name="value-2">	|
			+-----------------------------------+
	4.Apply to a tag that its attributes are reserved
	words.
		tag_name[attr_name ^= "mailto:"]{}
	5.Apply to a tag that its attributes include a 
	specific value.
		tag_name[attr_name *= "value"]{}
	6.Apply to a tag that its attributes ends with a 
	specific value.
		img[src $= ".png"]{}
*/
header, h6 { 
	color :#0000FF;
	font-family: Futura;
	font-size: 20pt;
	font-weight: bold;
}
header{
	font-variant: small-caps;
}
a[href = "http://google.com"]{
	font-family: Futura;
	font-size: 14pt;
	margin-left: 13px;
}
a[href="http://www.instagram.com"]{
	font-family: 'Kavivanar', cursive;
	font-size: 14pt;
}
a[href="http://www.twitter.com"]{
	font-family: 'Yatra One', cursive;
	font-size: 14pt;
}
img[alt ~= "icon"]{
	height: 20pt;
	width: 20pt;
}
img[src = "../icon/email.png"]{
	position: fixed;
	top:10px;
	right:10px;
	height: 45pt;
	width: 45pt;
}
table{
	border:1px solid #000;
	border-collapse: collapse;
}
th,td{
	border:1px solid #000;
}
textarea{
	border-radius: 10px;
	box-shadow: 2px 2px  1px 1px gray;
}

/*----------------------------------------------------
	1.Apply style to classes.
		.class_name {}
	2.Apply style to an id.
		#id_name {}
*/
.note {
	font-family: "Times New Roman";
}
#news{
	width: 100%;
    max-width: 500px;
}
#reset {
	color: #FF0000;
}
.footer{
	background-color: #E6E6FA;
	width: 350px;
	padding: 2px;
	margin: 0px;
	position: relative;
}
#emailIcon{
	position: absolute;
	top:-5px;
	left:-7px;
	display: inline;
	margin: 0px;
}

/*----------------------------------------------------
	Manage styles regarding activities done on the 
	website.
*/
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
	color: #0000FF;
}
textarea:hover {
	border-color: #0000FF;
}
img:hover{
	height:20pt;
	width: 20pt;
}
table:hover{
	animation-name:myanimation;
	animation-duration:2s;
	animation-function:linear;
	animation-iteration-count:infinite;
}
table:active{
	animation-play-state:paused;
}
/*----------------------------------------------------
	Manage styles of child.
		tag_name: nth-child(2){}
		tag_name:first-child{}
*/
tr:nth-child(2), tr:nth-child(3){
	text-align: center;
}
p::first-line{
	font-family: courier;
	font-size: 11pt;
	font-style: italic;
}
